.login {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  padding: 20px;
}
.login > h3 {
  margin-bottom: 20px;
}
.MuiTextField-root {
  width: 20vw !important;
  margin-bottom: 20px !important;
}

.login > h5 > span{
  cursor: pointer;
  color: rgb(51, 195, 214);
}

