
.show_outer {
  display: grid;
  margin: 0;
}
.show {
  display: grid;
  grid-template-rows: auto auto;
  max-height: max-content;
  background-color: rgb(96, 129, 139);
  place-content: center;
}

.showr1{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  min-height: 80vh;
  max-height: max-content;
  background-color: rgb(96, 129, 139);
  place-content: center;
}
.showr2{
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 70vh;
  max-height: max-content;
  grid-template-columns: auto;
  place-content: center;
  margin-bottom: 40px;
}
.showr2_map{
  display: grid;
  margin-top: 5px;
  height: 60vh;
  width: 40vw;
  margin-bottom: 20px;
  border: 1px solid rgb(71, 71, 71);
  place-content: center;
}
.showr1_img {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  border-radius: 15px;
  box-shadow: 1px 1px 1px -2px;
}
.showr1_img_block{
  display: grid;
  place-content: center;
  height: 390px;
  width: 500px;
}
.showr1_img_block>img{
  width: 100%;
  height: 100%;
}
.showr1_info {
  place-content: center;
  display: grid;
  grid-template-rows: auto;
}
.showr1_info_text_block {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  width: 400px;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.733);
}
.showr1_info_text_block > h5 {
  font-size: 20px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: rgb(20, 19, 19);
}
.showr1_info_text_block > p {
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  margin-left: 10px;
  color: rgb(238, 238, 238);
  margin-bottom: 10px;
}

@media only screen and (max-width: 970px) {
  .show {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 639px) {
  .show {
    display: grid;
    grid-template-columns: auto;
  }
  .showr1_img {
    display: grid;
    width: 400px;
    height: 300px;
  }
}